/* reset styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f7f7f7;
}

div.home {
  margin: 25px 150px;
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  gap: 150px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 25px 50px;
}

nav h1 {
  font-size: 1.75em;
}

div.cardStats {
  display: flex;
  gap: 50px;
}

div.cardStats h2 {
  font-size: 1em;
}

div.cardDetails {
  display: block;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: white;
  margin: 10px 0;
  padding: 20px;
}

form.cardForm label, form.cardForm input {
  display: block;
  block-size: border;
  margin: 10px 0;
}